@model Fiap03.Web.MVC.Models.CarroModel

<div class="modal fade" id="modalEditarCarro">
    <div class="modal-dialog">
        <div class="modal-content" style="padding:15px;">
            <div class="modal-header">
                <h4 class="modal-title">Editar Registro</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            </div>
            @using (Html.BeginForm("Editar", "Carro"))
            {
                @Html.HiddenFor(c => c.Id)

                <br />
                
                @Html.Partial("_form")

                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning" id="confEditar">Editar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            }
        </div>
    </div>
</div>