@model Fiap03.Web.MVC.Models.CarroModel

@{
    /**/

    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar</h2>

@using (Html.BeginForm())
{
   
    @Html.Partial("_form")

    @Fabrica.Botao("Cadastrar")
    <a href="/Home/Index" class="btn btn-default">Cancelar</a>
}


@section scripts{
    <p>Exemplo de Sessao</p>
}