
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>


<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Curso</th>
            <th>Periodo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Vinicius</td>
            <td>Fabrica</td>
            <td>Noturno</td>
        </tr>
        <tr>
            <td>Rafa</td>
            <td>Fabrica</td>
            <td>Noturno</td>
        </tr>
    </tbody>
</table>

