
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Cadastrar Carro", "Cadastrar", "Carro") <br />
@Html.ActionLink("Listar Carros", "Listar", "Carro")
<br />
<br />
<span>----------------------------------------------------------------</span>
<br />
<br />
@Html.ActionLink("Cadastrar Marca", "Cadastrar", "Marca") <br />
@Html.ActionLink("Listar Marcas", "Listar", "Marca")
    